# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
*.tsbuildinfo

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Application specific
*.log

# Keep these files
!app/client/public/
!app/uploads/
!app/client/public/images/
!app/client/public/*.svg
!app/client/public/*.png
!app/client/public/*.jpg
